.container{
    background-color: #f0f0f0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.content{
    height: 100vh;
    display: flex;
    flex-direction :column;
    align-items: center;  /* 縦中央揃え */
    justify-content: center;  /* 横中央揃え */
    padding: 0px 20%;
    position: relative;
    p{
        color:#555;
    }
    button{
        transition: all 0.2s ease;
        position: absolute;
        bottom: 10vh;
    }
    button:hover{
        transform: translateY(5px);
        color: var(--primary-50);
    }
    mat-icon{
        color:#777;
        transform: scale(3);
    }
}

.top{
    height: calc(100vh - 60px);  /* ヘッダーの高さを引いた分 */;
    img{
        display: block;
        margin: 0 auto;
        height: 200px;
    }
}

.profile{
    padding: 0px 30%;
}

.skill{
    .chart-container{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    canvas{
        max-height: 50vh !important;
        max-width: 50% !important;
    }
}

.even{
    background-color: #fafafa;
}

.last{
    height: calc(100vh - 60px);  /* フッターの高さを引いた分 */;
}