.header-container {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: var(--primary-50);

  .header-image {
    margin: 0px 30px;
    img {
      height: 50px;
    }
  }

  button {
    background-color: var(--primary-50);
    font-weight: bold;
  }
}
