<app-programming-template
    [title]="title"
    [images]="images"
    [image_descriptions]="image_descriptions"
    [abstract_description]="abstract_description"
    [period_title]="period_title"
    [period_description]="period_description"
    [role_title]="role_title"
    [role_description]="role_description"
    [used_technique_header]="used_technique_header"
    [used_technique_name]="used_technique_name"
    [background_title]="background_title"
    [background_description]="background_description"
    [ingenuity_title]="ingenuity_title"
    [ingenuity_list]="ingenuity_list"
    [future_title]="future_title"
    [future_description]="future_description"
    [product_url]="product_url"
    [gitHub_url]="gitHub_url"
></app-programming-template>