<div class="container">
    <div class="sub-header between">
        <div class="sub-header-item">
            <mat-icon>biotech</mat-icon>
            <h2>卒業研究</h2>
        </div>
        <div class="sub-header-item">
            <button mat-button (click)="bachelor.scrollToTop()">テーマ（TOP）</button>
            <button mat-button (click)="bachelor.scrollToAbstract()">概要</button>
            <button mat-button (click)="bachelor.scrollToBackground()">背景</button>
            <button mat-button (click)="bachelor.scrollToRole()">期間・役割</button>
            <button mat-button (click)="bachelor.scrollToMethod()">手法・工夫</button>
            <button mat-button (click)="bachelor.scrollToAchievement()">成果</button>
            <button mat-button (click)="bachelor.scrollToTechnique()">使用技術</button>
        </div>
        <div class="sub-header-item">
            <a href="https://github.com/kohama-yujin/b4-lip-sync-ar" target="_blank" rel="noopener">
                <img class="github-img" src="images/core/github/github-mark.png" />
                <img class="github-img" src="images/core/github/GitHub_Logo.png" />
            </a>
        </div>
    </div>

    <!-- 学年変更 -->
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" (selectedTabChange)="onTabChange($event)">
        <!-- 学部 -->
        <mat-tab label="学部（B4）">
            <app-bachelor #bachelor></app-bachelor>
        </mat-tab>
        <!-- 修士 -->
        <mat-tab label="修士（M1,2）">修士</mat-tab>
    </mat-tab-group>
</div>