<div class="header-container">
  <div class="header-image">
    <a [routerLink]="['./']"><img src="images/kohama-yujin/header_kohama.png" /></a>
  </div>
  <div class="header-link">
    <button mat-flat-button [routerLink]="['./']">
      <mat-icon>home</mat-icon>ホーム
    </button>
    <button mat-flat-button [routerLink]="['./graduation-project']">
      <mat-icon>biotech</mat-icon>卒業研究
    </button>
    <button mat-flat-button [routerLink]="['./programming']">
      <mat-icon>code</mat-icon>制作物
    </button>
    <!-- <button mat-flat-button [routerLink]="['./modeling']">
      モデリング
    </button> -->
  </div>
</div>

<router-outlet></router-outlet>

<!-- フッター: 左にコピーライト、中央にGitHubリンク (個人・学校)、右は空領域 -->
<div class="footer-container">
  <div class="footer-left">
    <p>© 2025 Yujin Kohama</p>
  </div>

  <div class="footer-center">
    <a class="github-link school" href="https://github.com/kohama-yujin" target="_blank" rel="noopener">
      <img class="github-img" src="images/core/github/github-mark-white.png"/>
      <span class="github-label">School</span>
    </a>

    <mat-icon (click)="scrollToTop()">keyboard_double_arrow_up</mat-icon>

    <a class="github-link personal" href="https://github.com/ratte2d3d" target="_blank" rel="noopener">
      <img class="github-img" src="images/core/github/github-mark-white.png" />
      <span class="github-label">Personal</span>
    </a>
  </div>

  <div class="footer-right"></div>
</div>