<div class="header-container">
  <div class="header-image">
    <a [routerLink]="['./']"><img src="images/header_kohama.png" /></a>
  </div>
  <div class="header-link">
    <button mat-flat-button [routerLink]="['./']">
      トップ
    </button>
    <button mat-flat-button [routerLink]="['./graduation-project']">
      卒業研究
    </button>
    <button mat-flat-button [routerLink]="['./programming']">
      プログラミング
    </button>
    <button mat-flat-button [routerLink]="['./modeling']">
      モデリング
    </button>
  </div>
</div>

<router-outlet></router-outlet>
